footer.global-footer {
	background: #1f2020;
	@include padding(40, 0, 0, 0);
	@include margin(40, 0, 0, 0);

	.ss-footer-top {
		.container {
			&.left {
				.ss-logo {
					img {
						@include margin(0, 0, 10, 0);
						width: 15rem;
					}
				}
				.ss-info {
					p {
						@include margin(15, 0, 15, 0);
						color: #b1b1b1;
						@include font-size(16);

						span {
							@include margin(0, 8, 0, 0);

							svg {
								width: 1.5rem;
							}
						}
					}
				}
			}
			&.middle {
				h3 {
					color: $white;
					font-weight: 600;
					position: relative;
					padding: 0 0 0 1.2rem;
					@include margin(0, 0, 20, 0);

					&::before {
						content: "";
						position: absolute;
						height: 100%;
						width: 0.325rem;
						top: 0;
						left: 0;
						background-color: #ffa000;
					}
				}
				.ss-ewallet {
					@include set(991) {
						display: flex;
						flex-direction: column;
					}

					@include set(555) {
						display: flex;
						flex-direction: row;
					}

					img {
						margin: 0 1.25rem 0 0;
						object-fit: cover;
						height: 3rem;

						@include set(991) {
							margin-bottom: 1rem;
							object-fit: contain;
							object-position: left;
							height: 2.5rem;
						}
					}
				}
			}
			&.right {
				h3 {
					color: $white;
					font-weight: 600;
					position: relative;
					padding: 0 0 0 1.2rem;
					@include margin(0, 0, 20, 0);

					&::before {
						content: "";
						position: absolute;
						height: 100%;
						width: 0.325rem;
						top: 0;
						left: 0;
						background-color: #ffa000;
					}
				}
				.ss-icons {
					a {
						span {
							border: 1px solid $white;
							@include padding(10, 10, 10, 10);
							border-radius: 50%;
							@include margin(0, 10, 0, 0);

							svg {
								color: $white;
								width: 1.2rem;
							}

							&:hover {
								background: $white;

								svg {
									color: #202331;
								}
							}
						}
					}
				}
			}
		}
	}

	.ss-footer-bottom {
		display: flex;
		justify-content: space-between;
		@include padding(20, 0, 20, 0);
		border-top: 1px solid rgb(71, 71, 71);
		color: #b1b1b1;
		margin-top: 2rem;

		.ss-left {
			@include font-size(16);
		}
		.ss-right {
			@include font-size(16);
		}
	}
}
