* {
	transition: all 0.2s ease-in-out;
}

body {
	font-size: 16px;
	overflow-x: hidden;
	font-family: "Mark Pro";
}
h1,
h2,
h3,
h4,
h5 {
	// margin: 0 !important;
	color: $grey;
}

.uk-container-xlarge {
	max-width: 1740px;
	width: 100%;
}

.uk-container-large {
	// max-width: 1484px;
	width: 100%;
}

.uk-container-medium {
	max-width: 1125px;
	width: 100%;
}

.uk-container-small {
	max-width: 1090px;
	width: 100%;
}

.uk-container-xsmall {
	max-width: 968px;
	width: 100%;
}

#section-padding-top {
	padding: 6.25rem 0 0;
}
#section-padding-bottom {
	padding: 0 0 6.25rem;
}
#section-padding {
	padding: 6.25rem 0;
}

a {
	&:hover {
		text-decoration: none;
	}
}

img {
	transition: all 0.2s ease-in-out;
}

// Woocommerce Override

body {
	.woocommerce-message {
		border-top-color: $secondary;
	}

	.woocommerce-error,
	.woocommerce-info,
	.woocommerce-message {
		border-top: 6px solid $secondary;
		background-color: #ffe8a396;
		color: #404040;
	}

	.woocommerce-message::before {
		color: $secondary;
	}
}

.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button {
	color: $white;
	background-color: $secondary;
	transition: all 0.2s ease-in-out;
	text-decoration: uppercase;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
	background-color: rgba($secondary, 0.8);
	color: $white;
}

.custom-logo {
	@include set(992) {
		@include padding(40, 0, 0, 40);
		box-sizing: content-box;
		position: relative;
		z-index: 1000;
	}
}

.woocommerce-form-login-toggle + .woocommerce-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	input {
		border-radius: 0.625rem;
		background-color: #328bdb0f;
		border: none;
		padding: 1rem;
		margin-bottom: 0.4rem;
	}

	p {
		&:nth-last-child(3) {
			display: flex;
			flex-direction: column;
		}
	}
}
