@media screen and (max-width: 1855px) {
    :root {
        font-size: 13.333px;
    }

    .uk-container-xlarge {
        width: 85%;
    }

    .uk-container-large {
        width: 68%;
    }

    .uk-container-medium {
        width: 60%;
    }

    .uk-container-small {
        width: 57%;
    }

    .uk-container-xsmall {
        width: 46%;
    }
}
@media screen and (max-width: 1600px) {
    :root {
        font-size: 12px;
    }

    .uk-container-large {
        width: 71%;
    }

    .uk-container-medium {
        width: 58%;
    }
}
@media screen and (max-width: 1440px) {
    :root {
        font-size: 10px;
    }

    .uk-container-large {
        width: 70%;
    }
}
@media screen and (max-width: 1280px) {
    .uk-container-large {
        width: 74%;
    }
}

@media screen and (max-width: 1155px) {
    :root {
        font-size: 8.6px;
    }
    .uk-container-large {
        width: 74%;
    }
}

@media screen and (max-width: 1024px) {
    .uk-container-large {
        width: 80%;
    }

    .uk-container-xlarge {
        width: 88%;
    }
    .uk-container-xsmall {
        width: 55%;
    }
    .uk-container-medium {
        width: 66%;
    }
}

@media screen and (max-width: 992px) {
    :root {
        font-size: 16px;
    }

    .uk-container-large,
    .uk-container-xsmall,
    .uk-container-small,
    .uk-container-medium {
        width: 90%;
    }
}
@media screen and (max-width: 767px) {
    :root {
        font-size: 12.4px;
    }
}
@media screen and (max-width: 400px) {
    :root {
        font-size: 8.5px;
    }
}
