* {
	font-family: "Mark Pro" !important;
}
@font-face {
	font-family: "Mark Pro";
	font-style: normal;
	font-weight: 400;
	src: local(""), url("../fonts/MARKPRO.woff") format("woff");
}

@font-face {
	font-family: "Mark Pro";
	font-style: normal;
	font-weight: 200;
	src: local(""), url("../fonts/MARKPROEXTRALIGHT.woff") format("woff");
}

@font-face {
	font-family: "Mark Pro";
	font-style: normal;
	font-weight: 300;
	src: local(""), url("../fonts/MARKPROLIGHT.woff") format("woff");
}

@font-face {
	font-family: "Mark Pro";
	font-style: normal;
	font-weight: 500;
	src: local(""), url("../fonts/MARKPROBOOK.woff") format("woff");
}

@font-face {
	font-family: "Mark Pro";
	font-style: normal;
	font-weight: 600;
	src: local(""), url("../fonts/MARKPROMEDIUM.woff") format("woff");
}

@font-face {
	font-family: "Mark Pro";
	font-style: normal;
	font-weight: 700;
	src: local(""), url("../fonts/MARKPROBOLD.woff") format("woff");
}

@font-face {
	font-family: "Mark Pro";
	font-style: normal;
	font-weight: 800;
	src: local(""), url("../fonts/MARKPROHEAVY.woff") format("woff");
}

@font-face {
	font-family: "Mark Pro";
	font-style: normal;
	font-weight: 900;
	src: local(""), url("../fonts/MARKPROBLACK.woff") format("woff");
}
