* {
	font-family: "Mark Pro" !important;
}
@font-face {
	font-family: "Mark Pro Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Mark Pro Regular"), url("../fonts/MARKPRO.woff") format("woff");
}

@font-face {
	font-family: "Mark Pro Extra Light";
	font-style: normal;
	font-weight: normal;
	src: local("Mark Pro Extra Light"),
		url("../fonts/MARKPROEXTRALIGHT.woff") format("woff");
}

@font-face {
	font-family: "Mark Pro Light";
	font-style: normal;
	font-weight: normal;
	src: local("Mark Pro Light"),
		url("../fonts/MARKPROLIGHT.woff") format("woff");
}

@font-face {
	font-family: "Mark Pro Book";
	font-style: normal;
	font-weight: normal;
	src: local("Mark Pro Book"),
		url("../fonts/MARKPROBOOK.woff") format("woff");
}

@font-face {
	font-family: "Mark Pro Medium";
	font-style: normal;
	font-weight: normal;
	src: local("Mark Pro Medium"),
		url("../fonts/MARKPROMEDIUM.woff") format("woff");
}

@font-face {
	font-family: "Mark Pro Bold";
	font-style: normal;
	font-weight: normal;
	src: local("Mark Pro Bold"),
		url("../fonts/MARKPROBOLD.woff") format("woff");
}

@font-face {
	font-family: "Mark Pro Heavy";
	font-style: normal;
	font-weight: normal;
	src: local("Mark Pro Heavy"),
		url("../fonts/MARKPROHEAVY.woff") format("woff");
}

@font-face {
	font-family: "Mark Pro Black";
	font-style: normal;
	font-weight: 900;
	src: local("Mark Pro Black"),
		url("../fonts/MARKPROBLACK.woff") format("woff");
}
