.page {
	.ss-header-section {
		// @include height(340);
		position: relative;

		.ss-bg-overlay {
			background-image: url("../img/section-overlay.png");
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-size: cover;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	main {
		margin-top: -5rem;
		z-index: 1;
		position: relative;

		article {
			header {
				h1.entry-title {
					font-size: 3rem;
					font-weight: 800;
					color: #ffa000;
					margin-bottom: 5rem;
				}
			}
			.entry-content {
				.woocommerce {
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;

					.woocommerce-notices-wrapper {
						display: none;
					}
					.woocommerce-cart-form {
						width: 70%;
						padding-right: 2rem;
						box-sizing: border-box;

						.shop_table {
							thead {
								tr {
									background: $secondary;
									color: $white;
								}
							}
							tbody {
								tr.cart_item {
									.product-remove {
										a {
											font-size: 1.4rem;
											padding: 0.2rem 0.2rem;
											height: 1.4rem;
											width: 1.4rem;
											border: 1px solid;
											display: flex;
											justify-content: center;
											align-items: center;
										}
									}
									.product-thumbnail {
										a {
											img {
												@include width(104);
												@include height(80);
												object-fit: cover;
												object-position: top;
												border-radius: #{toRem(4)}rem;
											}
										}
									}
								}
								tr {
									td.actions {
										.coupon {
											input#coupon_code {
												border-radius: #{toRem(4)}rem !important;
												@include padding(8, 6, 8, 6);
												margin-right: 0.5rem;
											}
										}
									}
								}
							}
						}
					}
					.cart-collaterals {
						width: 30%;

						&::before {
							display: none;
						}
						&::after {
							display: none;
						}

						.cart_totals {
							width: 100%;

							.wc-proceed-to-checkout {
								a.checkout-button {
									background-color: $secondary;
									padding: 0.8rem;
								}
							}

							h2 {
								font-weight: 700;
							}
						}
					}
				}
			}
		}
	}
}

.woocommerce .woocommerce-ordering select {
	padding: 0.5rem 0.6rem;
	outline: none;
}

.woocommerce .woocommerce-ordering {
	margin-bottom: 2rem;

	&::focus-visible {
		outline: none;
	}

	select {
		// border: 1px solid $secondary;
		border-radius: #{toRem(6)}rem;
	}
}

.woocommerce a.remove {
}

.woocommerce-form-coupon-toggle {
	display: none;
}

#order_review_heading {
	display: none;
}

form.checkout.woocommerce-checkout {
	display: flex;
}

form.checkout.woocommerce-checkout .col2-set {
	display: flex;
	flex-direction: column;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
	float: left;
	width: 100%;
	padding-right: 2rem;
	box-sizing: border-box;
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
	padding: 0.8rem 0;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	// background: #fbfbfb;
	background: #fff;
	border-radius: #{toRem(15)}rem;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
	background-color: #328bdb;
	color: $white;
}

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
	border: 1em solid #328bdb;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
}

.woocommerce-input-wrapper input,
.woocommerce-input-wrapper select,
.woocommerce-input-wrapper textarea {
	border-radius: #{toRem(10)}rem;
	background-color: #328bdb0f;
	border: none;
	padding: 1rem;
	margin-bottom: 0.4rem;
}

.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
	float: left;
	width: 100%;
	padding-right: 2rem;
	box-sizing: border-box;
}

.woocommerce form .form-row textarea {
	height: 10rem;
}

.woocommerce-order-received.page main article .entry-content .woocommerce {
	justify-content: center;
}
