main {
	section {
		&.ss-landing-section {
			position: relative;
			.uk-slider {
				position: relative;
				.uk-position-relative {
					ul.uk-slider-items {
						li {
							height: 100vh;
							.ss-bg-overlay {
								background-image: url("../img/Overlay.png");
								width: 100%;
								height: 100%;
								position: absolute;
								top: 0;
								left: 0;
								background-size: cover;
							}

							img {
								height: 100%;
								width: 100%;
								object-fit: cover;
							}

							.ss-landing-info {
								top: 50%;
								left: 50%;
								position: absolute;
								transform: translate(-50%, -50%);
								width: 100%;
								max-width: 100%;
								box-sizing: border-box;

								h1 {
									@include font-size(101);
									@include line-height(101);
									@include width(835);
									font-weight: 900;
									@include margin(0, 0, 60, 0);

									span {
										color: $secondary;
									}
								}
								a.ss-button {
									position: absolute;
									@include font-size(23);
									@include line-height(23);
									@include padding(22, 38, 22, 38);
									background-color: $secondary;
									border-radius: #{toRem(15)}rem;
									box-shadow: 0px 5px 13px 0px rgba(255, 160, 0, 0.5);
									transition: all 0.2s ease-in-out;

									&:hover {
										transform: translateY(-0.3125rem);
										text-decoration: none;
										box-shadow: none;
									}

									&:focus {
										outline: none;
									}
								}
							}
						}
					}
					a.uk-slidenav {
						position: absolute;
						bottom: #{toRem(35)}rem;
						color: $grey;
						background-color: rgba($white, 0.6);
						border-radius: 100%;
						@include padding(10, 10, 10, 10);
						transition: all 0.2s ease-in-out;

						svg {
							@include width(10);
							@include height(10);
						}
						&.uk-slidenav-previous {
							right: #{toRem(300)}rem;
						}
						&.uk-slidenav-next {
							right: #{toRem(260)}rem;
						}

						&:hover {
							background-color: rgba($white, 1);
							transform: scale(1.2);
						}
					}
				}

				ul.uk-slider-nav {
					// display: none;
					position: absolute;
					bottom: #{toRem(35)}rem;
					left: #{toRem(260)}rem;
					li {
						a {
							@include width(20);
							@include height(20);
							border-color: $white;
						}

						&.uk-active {
							a {
								background-color: $white;
							}
						}
					}
				}
			}
		}

		&.ss-popular-categories {
			.uk-container {
				.ss-heading-title {
					@include margin(0, 0, 53, 0);

					h2 {
						position: relative;
						font-weight: 800;
						@include font-size(38);
						@include padding(0, 0, 0, 30);

						&::before {
							content: "";
							position: absolute;
							height: 100%;
							@include width(10);
							top: 0;
							left: 0;
							background-color: $secondary;
						}
					}
				}
				.ss-cards-container {
					.uk-slider {
						.uk-position-relative {
							ul.uk-slider-items {
								li {
									@include height(222);

									.ss-card {
										height: inherit;
										position: relative;

										img {
											width: 100%;
											height: 100%;
											object-fit: cover;
											border-radius: #{toRem(15)}rem;
										}

										.ss-overlay {
											position: absolute;
											top: 0;
											left: 0;
											border-radius: #{toRem(15)}rem;
											height: 100%;
											width: 100%;
											background: rgb(0, 131, 253);
											background: linear-gradient(
												90deg,
												rgba(0, 131, 253, 0.7) 0%,
												rgba(0, 131, 253, 0.4) 100%
											);
											@include padding(0, 0, 20, 20);
											box-sizing: border-box;
											display: flex;
											align-items: flex-end;
											cursor: pointer;
											transition: all 0.2s ease-in-out;

											h3 {
												@include font-size(30);
												font-weight: 800;
												color: $white;
												margin: 0;
												transition: all 0.2s ease-in-out;
												line-height: 100%;
											}

											&:hover {
												backdrop-filter: grayscale(10) blur(1px);
												h3 {
													color: $secondary;
													border-bottom: 0.3rem solid $secondary;
												}
											}
										}
									}
								}
							}
						}
						ul.uk-slider-nav {
							@include margin(40, 0, 0, 0);
							li {
								a {
									@include width(20);
									@include height(20);
									border-color: $secondary;
								}

								&.uk-active {
									a {
										background-color: $secondary;
									}
								}
							}
						}
					}
				}
			}
		}

		&.ss-featured-products {
			.uk-container {
				.ss-heading-title {
					@include margin(0, 0, 53, 0);

					h2 {
						position: relative;
						font-weight: 800;
						@include font-size(38);
						@include padding(0, 0, 0, 30);

						&::before {
							content: "";
							position: absolute;
							height: 100%;
							@include width(10);
							top: 0;
							left: 0;
							background-color: $secondary;
						}
					}
				}
				.ss-cards-container {
					.uk-grid {
						.ss-card-contain {
							@include margin(0, 0, 52, 0);

							.ss-card {
								@include margin(0, 0, 22, 0);
								background: rgb(0, 0, 0);
								background: linear-gradient(
									0deg,
									rgba(0, 0, 0, 0.9) 0%,
									rgba(0, 0, 0, 0.15449929971988796) 100%
								);
								border-radius: #{toRem(15)}rem;
								position: relative;
								@include height(276);
								@include padding(13, 23, 13, 23);
								box-sizing: border-box;
								display: flex;
								flex-direction: column;
								justify-content: flex-end;
								overflow: hidden;
								transition: all 0.2s ease-in-out;

								.ss-img-overlay {
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
									border-radius: #{toRem(15)}rem;
									object-fit: cover;
									z-index: -1;
								}

								.ss-card-info {
									// z-index: 1;

									.ss-img-holder {
										@include width(70);
										@include height(70);
										border-radius: #{toRem(15)}rem;
										@include margin(0, 0, 10, 0);

										img {
											width: 100%;
											height: 100%;
											object-fit: cover;
											border-radius: #{toRem(15)}rem;
											box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 1);
										}
									}
									.ss-content-holder {
										display: flex;
										justify-content: space-between;
										align-items: center;

										h5 {
											@include font-size(18);
											color: $white;
											font-weight: 700;
											margin: 0;
											width: 100%;
										}
										.ss-product-price {
											@include font-size(14);
											color: $secondary;
											font-weight: 700;
											margin: 0;
											width: 8rem;
											border: 2px solid $secondary;
											box-sizing: border-box;
											@include padding(5, 10, 5, 10);
											border-radius: #{toRem(3.73)}rem;
											display: flex;
											justify-content: center;
											align-items: center;
											height: fit-content;
										}
									}
								}

								&:hover {
									img {
										transform: scale(0.9);
									}
									.ss-img-overlay {
										transform: scale(1.12);
									}
									.ss-card-info {
										.ss-content-holder {
											h5 {
												color: $secondary;
											}
										}
									}
								}
							}

							.ss-button {
								a {
									background-color: $secondary;
									color: $white;
									@include padding(12, 10, 12, 10);
									@include font-size(17);
									font-weight: 700;
									box-shadow: 0px 4px 6px 0px rgba($secondary, 0.5);
									border-radius: #{toRem(5.95)}rem;
									transition: all 0.2s ease-in-out;

									&:hover {
										box-shadow: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
