main {
	section {
		&.ss-landing-section {
			position: relative;
			.uk-slider {
				position: relative;
				.uk-position-relative {
					ul.uk-slider-items {
						li {
							height: calc(100vh + 6.25rem);

							@include set(460) {								
								height: calc(60vh + 6.25rem);
							}

							.ss-bg-overlay {
								background-image: url("../img/Overlay.png");
								width: 100%;
								height: 100%;
								position: absolute;
								top: 0;
								left: 0;
								background-size: cover;
							}

							img {
								height: 100%;
								width: 100%;
								object-fit: cover;
							}

							.ss-landing-info {
								top: 50%;
								left: 50%;
								position: absolute;
								transform: translate(-50%, -50%);
								width: 100%;
								max-width: 100%;
								box-sizing: border-box;

								.uk-container {
									h1 {
										@include font-size(101);
										@include line-height(101);
										@include width(835);
										font-weight: 900;
										@include margin(0, 0, 20, 0);

										@include set(768) {
											width: 100%;
										}
										@include set(555) {
											font-size: 5.3125rem;
										}
										@include set(460) {
											font-size: 4.2rem;
											line-height: 105%;
										}

										span {
											background: linear-gradient(
												270deg,
												$secondary 10%,
												$yellow 90%
											);
											-webkit-background-clip: text;
											-webkit-text-fill-color: transparent;
										}
									}
									a.ss-button {
										position: absolute;
										@include font-size(23);
										@include line-height(23);
										@include padding(18, 32, 18, 32);
										background: linear-gradient(
											270deg,
											$secondary 10%,
											$yellow 90%
										);
										border-radius: #{toRem(8)}rem;
										box-shadow: 0px 5px 13px 0px rgba(255, 160, 0, 0.5);
										transition: all 0.2s ease-in-out;
										font-weight: 800;

										&:hover {
											transform: translateY(-0.3125rem);
											text-decoration: none;
											box-shadow: none;
										}

										&:focus {
											outline: none;
										}
									}

									@include set(768) {
										width: 82%;
									}

									@include set(460) {
										width: 78%;
									}
								}
							}
						}
					}
					a.uk-slidenav {
						position: absolute;
						bottom: #{toRem(35)}rem;
						color: $grey;
						background-color: rgba($white, 0.6);
						border-radius: 100%;
						@include padding(10, 10, 10, 10);
						transition: all 0.2s ease-in-out;

						svg {
							@include width(10);
							@include height(10);
						}
						&.uk-slidenav-previous {
							right: #{toRem(300)}rem;
						}
						&.uk-slidenav-next {
							right: #{toRem(260)}rem;
						}

						&:hover {
							background-color: rgba($white, 1);
							transform: scale(1.2);
						}
					}
				}

				ul.uk-slider-nav {
					// display: none;
					position: absolute;
					bottom: #{toRem(35)}rem;
					left: #{toRem(260)}rem;
					li {
						a {
							@include width(20);
							@include height(20);
							border-color: $white;
						}

						&.uk-active {
							a {
								background-color: $white;
							}
						}
					}
				}
			}
		}

		&.ss-popular-categories {
			.uk-container {
				.ss-heading-title {
					@include margin(0, 0, 53, 0);

					h2 {
						position: relative;
						font-weight: 800;
						@include font-size(38);
						@include padding(0, 0, 0, 30);

						&::before {
							content: "";
							position: absolute;
							height: 100%;
							@include width(10);
							top: 0;
							left: 0;
							background-color: $secondary;
						}

						@include set(460) {
							font-size: 3rem;
						}
					}
				}
				.ss-cards-container {
					.uk-slider {
						.uk-position-relative {
							ul.uk-slider-items {
								margin-left: -15px;

								li {
									@include height(222);

									@include set(991) {
										width: 50%;
									}

									@include set(460) {
										width: 100%;
										height: 18rem;
									}

									.ss-card {
										height: inherit;
										position: relative;

										img {
											width: 100%;
											height: 100%;
											object-fit: cover;
											border-radius: #{toRem(15)}rem;
										}

										.ss-overlay {
											position: absolute;
											top: 0;
											left: 0;
											border-radius: #{toRem(15)}rem;
											height: 100%;
											width: 100%;
											background: rgb(0, 131, 253);
											background: linear-gradient(
												360deg,
												rgba(0, 131, 253, 0.8) 0%,
												rgba($yellow, 0.2) 100%
											);
											@include padding(0, 15, 15, 15);
											box-sizing: border-box;
											display: flex;
											align-items: flex-end;
											cursor: pointer;
											transition: all 0.2s ease-in-out;

											h3 {
												@include font-size(30);
												font-weight: 800;
												color: $white;
												margin: 0;
												transition: all 0.2s ease-in-out;
												line-height: 100%;
												word-wrap: break-word;

												@include set(460) {
													font-size: 2.5rem;
												}
											}

											&:hover {
												backdrop-filter: grayscale(100) blur(3px);
												h3 {
													// color: $secondary;
													padding-bottom: 0.3rem;
													border-bottom: 0.2rem dashed;
													border-image-slice: 1;

													background: linear-gradient(
														270deg,
														$secondary 10%,
														$yellow 90%
													);
													-webkit-background-clip: text;
													-webkit-text-fill-color: transparent;
													border-image-source: linear-gradient(
														270deg,
														$secondary 10%,
														$yellow 90%
													);
												}
											}
										}
									}
								}
							}
						}
						ul.uk-slider-nav {
							@include margin(40, 0, 0, 0);
							li {
								@include padding(0, 0, 0, 15);
								a {
									@include width(20);
									@include height(20);
									border-color: $secondary;

									&:hover {
										background-color: $secondary;
									}
								}

								&.uk-active {
									a {
										background-color: $secondary;
									}
								}
							}
						}
					}
				}
			}
		}

		&.ss-featured-products {
			.uk-container {
				.ss-heading-title {
					@include margin(0, 0, 53, 0);

					h2 {
						position: relative;
						font-weight: 800;
						@include font-size(38);
						@include padding(0, 0, 0, 30);

						&::before {
							content: "";
							position: absolute;
							height: 100%;
							@include width(10);
							top: 0;
							left: 0;
							background-color: $secondary;
						}

						@include set(460) {
							font-size: 3rem;
						}
					}
				}
				.ss-cards-container {
					.uk-grid {
						.ss-card-contain {
							@include margin(0, 0, 36, 0);

							@include set(991) {
								width: 50%;
							}

							@include set(460) {
								width: 100%;
								margin-bottom: 4rem;
							}
							pointer-events: none;

							.ss-card {
								pointer-events: auto;
								@include margin(0, 0, 8, 0);
								background: rgb(0, 0, 0);
								background: linear-gradient(
									0deg,
									rgba(0, 0, 0, 0.9) 0%,
									rgba(0, 0, 0, 0.15449929971988796) 100%
								);
								border-radius: #{toRem(15)}rem;
								position: relative;
								@include height(276);
								@include padding(13, 23, 13, 23);
								box-sizing: border-box;
								display: flex;
								flex-direction: column;
								justify-content: flex-end;
								overflow: hidden;
								transition: all 0.2s ease-in-out;

								@include set(460) {
									height: 25rem;
									margin-bottom: 1.2rem;
									@include padding(23, 23, 23, 23);
								}

								.ss-img-overlay {
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
									border-radius: #{toRem(15)}rem;
									object-fit: cover;
									z-index: -1;
								}

								.ss-card-info {
									// z-index: 1;

									.ss-img-holder {
										@include width(70);
										@include height(70);
										border-radius: #{toRem(15)}rem;
										@include margin(0, 0, 10, 0);

										@include set(460) {
											@include width(90);
											@include height(90);
											@include margin(0, 0, 20, 0);
										}

										img {
											width: 100%;
											height: 100%;
											object-fit: cover;
											border-radius: #{toRem(15)}rem;
											box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 1);
										}
									}
									.ss-content-holder {
										display: flex;
										// justify-content: space-between;
										flex-direction: column;
										align-items: flex-start;

										h5 {
											@include font-size(20);
											color: $white;
											font-weight: 800;
											margin: 0;
											width: 100%;
											// width: 93%;

											@include set(991) {
												@include font-size(24);
											}

											@include set(460) {
												@include font-size(38);
												line-height: 100%;
											}
										}
										.ss-product-price {
											@include font-size(14);
											// font-style: italic;
											color: $secondary;
											font-weight: 800;
											margin: 0;
											box-sizing: border-box;
											display: flex;
											justify-content: center;
											align-items: center;
											height: fit-content;
											margin-top: 0.5rem;
											border-bottom: 1px dashed $secondary;
											background: rgb(0, 131, 253);
											background: -webkit-linear-gradient(
												180deg,
												rgba(255, 160, 0, 1) 10%,
												rgb(255, 219, 60) 90%
											);
											-webkit-background-clip: text;
											-webkit-text-fill-color: transparent;

											@include set(991) {
												@include font-size(18);
											}

											@include set(460) {
												@include font-size(26);
												line-height: 100%;
											}
										}
									}
								}

								&:hover {
									img {
										transform: scale(0.9);
									}
									.ss-img-overlay {
										transform: scale(1.12);
										filter: blur(2px);
									}
									.ss-card-info {
										.ss-content-holder {
											h5 {
												color: $secondary;
											}
										}
									}
								}
							}

							.ss-button {
								pointer-events: auto;
								a {
									display: block;
									width: auto;
									text-align: center;
									background: linear-gradient(
										270deg,
										rgba($yellow, 0.75) 0%,
										rgba($secondary, 1) 100%
									);
									// background-color: $secondary;
									color: $white;
									@include padding(12, 10, 12, 10);
									@include font-size(17);
									font-weight: 700;
									box-shadow: 0px 4px 6px 0px rgba($secondary, 0.2);
									border-radius: #{toRem(10)}rem;
									// transition: all 0.2s ease-in-out;

									@include set(460) {
										@include font-size(24);
										@include padding(17, 15, 17, 15);
									}

									&:hover {
										box-shadow: none;
										transform: translateY(-0.2rem);
									}

									&.ss-details-btn {
										background: $grey;
										box-shadow: 0px 4px 6px 0px rgba($grey, 0.2);

										&:hover {
											box-shadow: none;
										}
									}
								}
							}
							&:hover {
								.ss-card {
									img {
										transform: scale(0.9);
									}
									.ss-img-overlay {
										transform: scale(1.12);
										filter: blur(2px);
									}
									.ss-card-info {
										.ss-content-holder {
											h5 {
												color: $secondary;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
