main {
	section {
		&.ss-landing-section {
			position: relative;
			.uk-slider {
				position: relative;
				.uk-position-relative {
					ul.uk-slider-items {
						li {
							height: 100vh;
							.ss-bg-overlay {
								background-image: url("../img/Overlay.png");
								width: 100%;
								height: 100%;
								position: absolute;
								top: 0;
								left: 0;
								background-size: cover;
							}

							img {
								height: 100%;
								width: 100%;
								object-fit: cover;
							}

							.ss-landing-info {
								top: 50%;
								left: 50%;
								position: absolute;
								transform: translate(-50%, -50%);
								width: max-content;
								max-width: 100%;
								box-sizing: border-box;

								h1 {
									@include font-size(101);
									@include line-height(101);
									@include width(835);
									font-weight: 900;
									@include margin(0, 0, 60, 0);

									span {
										color: $secondary;
									}
								}
								a.ss-button {
									position: absolute;
									@include font-size(23);
									@include line-height(23);
									@include padding(22, 38, 22, 38);
									background-color: $secondary;
									border-radius: #{toRem(15)}rem;
									box-shadow: 0px 5px 13px 0px rgba(255, 160, 0, 0.5);
									transition: all 0.2s ease-in-out;

									&:hover {
										transform: translateY(-0.3125rem);
										text-decoration: none;
										box-shadow: none;
									}

									&:focus {
										outline: none;
									}
								}
							}
						}
					}
					a.uk-slidenav {
						position: absolute;
						bottom: #{toRem(35)}rem;
						color: $grey;
						background-color: rgba($white, 0.6);
						border-radius: 100%;
						@include padding(10, 10, 10, 10);
						transition: all 0.2s ease-in-out;

						svg {
							@include width(10);
							@include height(10);
						}
						&.uk-slidenav-previous {
							right: #{toRem(300)}rem;
						}
						&.uk-slidenav-next {
							right: #{toRem(260)}rem;
						}

						&:hover {
							background-color: rgba($white, 1);
							transform: scale(1.2);
						}
					}
				}

				ul.uk-slider-nav {
					// display: none;
					position: absolute;
					bottom: #{toRem(35)}rem;
					left: #{toRem(260)}rem;
					li {
						a {
							@include width(20);
							@include height(20);
							border-color: $white;
						}

						&.uk-active {
							a {
								background-color: $white;
							}
						}
					}
				}
			}
		}

		&.ss-popular-categories {
			.uk-container {
				position: relative;
				.ss-heading-title {
					@include margin(0, 0, 53, 0);

					h2 {
						position: relative;
						font-weight: 800;
						@include font-size(38);
						@include padding(0, 0, 0, 30);

						&::before {
							content: "";
							position: absolute;
							height: 100%;
							@include width(10);
							top: 0;
							left: 0;
							background-color: $secondary;
						}
					}
				}
				.ss-cards-container {
					.uk-slider {
						.uk-position-relative {
							// position: initial !important;
							ul.uk-slider-items {
								li {
									@include height(222);

									.ss-card {
										height: inherit;
										position: relative;

										img {
											height: 100%;
											object-fit: cover;
											border-radius: #{toRem(15)}rem;
										}

										.ss-overlay {
											position: absolute;
											top: 0;
											left: 0;
											border-radius: #{toRem(15)}rem;
											height: 100%;
											width: 100%;
											background: rgb(0, 131, 253);
											background: linear-gradient(
												90deg,
												rgba(0, 131, 253, 0.7) 0%,
												rgba(0, 131, 253, 0.4) 100%
											);
											@include padding(0, 0, 20, 20);
											box-sizing: border-box;
											display: flex;
											align-items: flex-end;
											cursor: pointer;
											transition: all 0.2s ease-in-out;

											h3 {
												@include font-size(30);
												font-weight: 800;
												color: $white;
												margin: 0;
												transition: all 0.2s ease-in-out;
												line-height: 100%;
											}

											&:hover {
												background: rgb(0, 131, 253);
												background: linear-gradient(
													90deg,
													rgba(0, 0, 0, 0.7) 0%,
													rgba(0, 131, 253, 0.4) 100%
												);
												h3 {
													color: $secondary;
													border-bottom: 0.3rem solid $secondary;
												}
											}
										}
									}
								}
							}
							// .ss-left-right {
							// 	position: absolute;
							// 	top: 0;
							// 	width: 100%;
							// 	height: 100%;
							// 	left: 0;
							// 	box-sizing: border-box;

							// 	a.uk-slidenav {
							// 		position: absolute;
							// 		bottom: 0;
							// 		color: $primary;
							// 		background-color: rgba($secondary, 0.6);
							// 		border-radius: 100%;
							// 		@include padding(10, 10, 10, 10);
							// 		transition: all 0.2s ease-in-out;

							// 		svg {
							// 			@include width(10);
							// 			@include height(10);
							// 		}
							// 		&.uk-slidenav-previous {
							// 			right: #{toRem(40)}rem;
							// 		}
							// 		&.uk-slidenav-next {
							// 			right: #{toRem(0)}rem;
							// 		}

							// 		&:hover {
							// 			background-color: rgba($secondary, 1);
							// 			transform: scale(1.2);
							// 		}
							// 	}
							// }
						}
						ul.uk-slider-nav {
							@include margin(40, 0, 0, 0);
							li {
								a {
									@include width(20);
									@include height(20);
									border-color: $secondary;
								}

								&.uk-active {
									a {
										background-color: $secondary;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
