#customer_login {
	display: flex;
	flex-direction: row-reverse;
	box-shadow: 0px 5px 31px 0px rgba(224, 224, 224, 0.4);
	border-radius: 1.5rem;

	.u-column1,
	.u-column2 {
		padding: 3.5rem 0.8rem 0.5rem;

		h2 {
			font-weight: 700;
			color: $secondary;
			text-align: center;
		}

		form {
			// box-shadow: 0px 5px 31px 0px rgba(224, 224, 224, 0.4);
			border: none;
			// border-radius: 1rem;
			margin: 0;

			p {
				margin: 0.8rem 0 !important;
				input {
					border-radius: #{toRem(10)}rem;
					background-color: #328bdb0f;
					border: none;
					padding: 1rem;
					margin-bottom: 0.4rem;
				}

				&.form-row {
				}
			}

			label {
				font-size: 1rem;
			}
		}
	}
	.u-column1.col-1 {
		// background-color: $secondary;
		background: linear-gradient(
				to bottom,
				rgba($secondary, 0.9) 0%,
				rgba($secondary, 0.7) 100%
			),
			url("../../sochyo-theme/img/login.jpg") no-repeat;

		border-radius: 0 1.5rem 1.5rem 0;
		background-size: cover;
		background-position: center center;

		h2 {
			color: $white;
		}

		form {
			color: $white;
			p {
				input {
					background-color: $white;
				}
			}
		}
		.show-password-input::after {
			color: #585858;
		}
	}
}
