#customer_login {
	display: flex;
	flex-direction: row-reverse;
	box-shadow: 0px 5px 31px 0px rgba(224, 224, 224, 0.4);
	border-radius: 1.5rem;

	@include set(768) {
		flex-direction: column;
		border-radius: 1.8rem;
	}

	.u-column1,
	.u-column2 {
		padding: 3.5rem 0.8rem 0.5rem;

		h2 {
			font-weight: 700;
			color: $secondary;
			text-align: center;

			@include set(460) {
				font-size: 4rem;
			}
		}

		form {
			border: none;
			margin: 0;

			@include set(460) {
				padding: 0 1rem;
			}

			p {
				margin: 0.8rem 0 !important;
				input {
					border-radius: #{toRem(10)}rem;
					background-color: #328bdb0f;
					border: none;
					padding: 1rem;
					margin-bottom: 0.4rem;
				}

				&.form-row {
				}
			}

			label {
				font-size: 1rem;

				@include set(460) {
					font-size: 1.5rem;
					display: flex;
					justify-content: flex-start;
					align-items: center;
				}
			}
		}
	}
	.u-column1.col-1 {
		// background-color: $secondary;
		background: linear-gradient(
				to bottom,
				rgba($secondary, 0.9) 0%,
				rgba($secondary, 0.7) 100%
			),
			url("../../sochyo-theme/img/login.jpg") no-repeat;

		border-radius: 0 1.5rem 1.5rem 0;
		background-size: cover;
		background-position: center center;

		@include set(768) {
			border-radius: 1.8rem;
		}

		h2 {
			color: $white;
		}

		form {
			color: $white;
			p {
				input {
					background-color: $white;
				}
			}
		}
		.show-password-input::after {
			color: #585858;
		}
	}

	.u-column2 {
		margin-top: 5rem;
	}
}

label.woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme {
	@include set(460) {
		margin-bottom: 1rem;
	}
}

.woocommerce-LostPassword.lost_password a {
	color: $white;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
	@include set(460) {
		width: 100%;
		float: none;
	}
}

#customer_login form.woocommerce-form.woocommerce-form-register.register {
	@include set(460) {
		padding: 0;
	}
}
